<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html">

    <title>Discussion Board Admin Page</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/admin_styles.css">
    <link rel="stylesheet" href="/css/admin_preview.css">

    <link rel="shortcut icon" href="http://www.templatemonster.com/favicon.ico">
    <link rel="icon" href="http://www.templatemonster.com/favicon.ico">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

    <!-- CSS / JS for minicolors -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.minicolors.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/css/jquery.minicolors.css">
    <script>
        $(document).ready(function () {
            $('.color-picker').each(function () {
                //
                // Dear reader, it's actually very easy to initialize MiniColors. For example:
                //
                //  $(selector).minicolors();
                //
                // The way I've done it below is just for the demo, so don't get confused
                // by it. Also, data- attributes aren't supported at this time...they're
                // only used for this demo.
                //
                $(this).minicolors({
                    control: $(this).attr('data-control') || 'hue',
                    defaultValue: $(this).attr('data-defaultValue') || '',
                    format: $(this).attr('data-format') || 'hex',
                    keywords: $(this).attr('data-keywords') || '',
                    inline: $(this).attr('data-inline') === 'true',
                    letterCase: $(this).attr('data-letterCase') || 'lowercase',
                    opacity: $(this).attr('data-opacity'),
                    position: $(this).attr('data-position') || 'bottom',
                    swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
                    change: function (value, opacity) {
                        if (!value) return;
                        if (typeof console === 'object') {
                            if ($(this)[0] === document.getElementById("titleColor")) {
                                // change in title color (event)
                                console.log("test");
                                document.getElementById("board-title").style.color = value;
                                console.log(document.getElementById("board-title").style);
                            }
                        }
                    },
                    theme: 'bootstrap'
                });

            });
        });
    </script>
</head>

<body>

    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="navbar-brand" id="page_title"> <img src="/images/admin/logo.png" width="30" height="30"
                class="d-inline-block align-top ml-1-auto">
            <span> SSC Disscussion Board Admin Page</span>
        </div>
        <ul class="nav nav-tabs">
            <li class="Board">
                <a class="nav-link active" href="/admin/board">Board</a>
            </li>
            <li class="Post">
                <a class="nav-link" href="/admin/post">Post</a>
            </li>
        </ul>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="signout" class="rounded" href="/login/signout">Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h4>Edit Board</h4>
            </div>
            <form ref="adminBoardForm" id="adminBoardForm"
                action="/boards/<%= board[0].board_id != -1 ?  board[0].board_id + '/edit' : 'create' %>" method="POST"
                enctype="multipart/form-data">
                <div>
                    <% if(board[0].board_id !=-1) { %>
                        <input type="hidden" name="board_id" id="board_id" value="<%= board[0].board_id %>">
                        <% } %>
                            <ul class="list-unstyled components">
                                <li>
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#titleSubmenu"
                                        aria-expanded="true" class="dropdown-toggle btn-toggle">Title</a>
                                    <ul class="collapse list-unstyled show" id="titleSubmenu">
                                        <li>
                                            <a href="#">
                                                Title
                                                <div class="form-group">
                                                    <input type="title" name="title" class="form-control"
                                                        id="titleInput" aria-describedby="title"
                                                        placeholder="Enter title" value="<%= board[0].title %>">
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">Title Color
                                                <div class="form-group">
                                                    <!-- class="form-control minicolors-input titlePick" 
                                                         -->
                                                    <input type="text" name="title_color" id="titleColor"
                                                        class="form-control color-picker" data-format="rgb"
                                                        data-opacity=".5" value="rgba(52, 64, 158, 0.5)">
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#backgroundSubmenu"
                                        class="dropdown-toggle btn-toggle">Background</a>
                                    <ul class="collapse list-unstyled" id="backgroundSubmenu">

                                        <li>
                                            <a href="#">Color
                                                <div class="form-group">
                                                    <input type="text" name="color" id="bgColor"
                                                        class="form-control bgPick" data-control="bgcolor"
                                                        value="<%= board[0].background_color %>">
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">Image
                                                <input type="file" name="background_img" class="form-control"
                                                    id="customFile" />
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#messageSubmenu"
                                        class="dropdown-toggle btn-toggle">Message</a>
                                    <ul class="collapse list-unstyled" id="messageSubmenu">
                                        <li>
                                            <a href="#">Theme
                                                <div id="theme-check">
                                                    <div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="theme-check" id="sky-check" value="sky" checked>
                                                            <label class="form-check-label" for="sky-check">
                                                                Sky
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="theme-check" id="grass-check" value="grass">
                                                            <label class="form-check-label" for="grass-check">Grass
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" id="message-type">Type
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="type_check"
                                                        id="card-check" value="0" <%=board[0].board_type==0 ? "checked"
                                                        : "" %> >
                                                    <label class="form-check-label" for="card-check">
                                                        Card
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="type_check"
                                                        id="pin-check" value="1" <%=board[0].board_type==1 ? "checked"
                                                        : "" %>>
                                                    <label class="form-check-label" for="pin-check">
                                                        Pin
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="type_check"
                                                        id="tape-check" value="2" <%=board[0].board_type==2 ? "checked"
                                                        : "" %>>
                                                    <label class="form-check-label" for="tape-check">
                                                        Tape
                                                    </label>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#musicSubmenu"
                                        class="dropdown-toggle btn-toggle">Music</a>
                                    <ul class="collapse list-unstyled" id="musicSubmenu">
                                        <li>
                                            <a href="#">
                                                <input type="file" name="bg_music" class="form-control" id="bg_music"
                                                    accept="audio/*" />
                                            </a>
                                        <li>
                                            <a href="#">Post Color 1
                                                <div class="form-group postPick">
                                                    <input type="text" name="post_color_1" id="post_color_1"
                                                        class="form-control" data-control="bgcolor" value="# <%=  %>">
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">Post Color 2
                                                <div class="form-group postPick">
                                                    <input type="text" name="post_color_2" id="post_color_2"
                                                        class="form-control" data-control="bgcolor" value="# <%=  %>">
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">Post Color 3
                                                <div class="form-group postPick">
                                                    <input type="text" name="post_color_3" id="post_color_3"
                                                        class="form-control" data-control="bgcolor" value="# <%=  %>">
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">Post Color 4
                                                <div class="form-group postPick">
                                                    <input type="text" name="post_color_4" id="post_color_4"
                                                        class="form-control" data-control="bgcolor" value="# ">
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">Post Color 5
                                                <div class="form-group postPick">
                                                    <input type="text" name="post_color_5" id="post_color_5"
                                                        class="form-control" data-control="bgcolor" value="# <%=  %>">
                                                </div>
                                            </a>
                                        </li>
                                </li>
                            </ul>
                            </li>
                            <li>
                                <!-- <a href="#mainboardSubmenu" data-toggle="collapse" aria-expanded="true"
                                class="dropdown-toggle">Mainboard</a> -->
                                <br>
                                <ul class="list-unstyled" id="mainboardSubmenu">
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" name="chooseAsMain" type="checkbox"
                                                value="chooseAsMain" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Select this board as the main board to be displayed.
                                            </label>
                                        </div>
                                    </li>
                                </ul>

                            </li>
                            </ul>


                            <ul class="list-unstyled CTAs">
                                <li>
                                    <a href="#" class="download">Reset</a>
                                </li>
                                <li>
                                    <!-- <a href="https://bootstrapious.com/p/bootstrap-sidebar" data-toggle="modal" data-target="#savechanges" class="article">Save Changes</a> -->
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </li>
                            </ul>
                </div>

            </form>

            <div class="modal fade" id="savechanges" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Save Changes</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Changes to the board have been saved.
                        </div>
                        <div class="modal-footer">
                            <a href="board.html"><button id="closeedit" type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="preview" style="background-image: url(/images/<%= board[0].background_img %>);">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Edit Board</span>
                </button>
                <button class="btn d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
            </div>
            <div id="board-title" class="title">
                <%= board[0].title %>
            </div>
            <div id="messages">
                <div class="paper green">
                    <div class="content">
                        <div class="upper-part">
                            <div class="left-half">
                                <img class="message-img" src="../images/posts/cat.jpg">
                            </div>
                            <div class="right-half">
                                <p class="card-text">This is a sample message for a pin type post-it. The user is
                                    allowed to enter up to nnn words per post. They can choose the color of the post-it,
                                    but the pin color will be randomized.</p>
                            </div>
                        </div>
                        <div class="card-footer lower-part">
                            <i class="material-icons" style="font-size: 1.5vh; margin-right:1vh">
                                account_circle</i>User_2
                        </div>
                    </div>
                    <div class="paper pink">
                        <div class="content">
                            <div class="upper-part">
                                <div class="left-half">
                                    <img class="message-img" src="../images/posts/cat.jpg">
                                </div>
                                <div class="right-half">
                                    <p class="card-text">This is a sample message for a pin type post-it. The user is
                                        allowed to enter up to nnn words per post. They can choose the color of the
                                        post-it, but the pin color will be randomized.</p>
                                </div>
                            </div>
                            <div class="card-footer lower-part">
                                <i class="material-icons" style="font-size: 1.5vh; margin-right:1vh">
                                    account_circle</i>User_2
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Popper.JS -->
            <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
                integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
                crossorigin="anonymous"></script> -->
            <!-- Bootstrap JS -->
            <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" -->
            <!-- integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"crossorigin="anonymous"></script> -->
            <script src="/javascripts/admin_preview.js" type="module"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    document.getElementById("board-title").style.color = "<%= board[0].title_color %>";
                    document.getElementById("board-title").innerHTML = "<%= board[0].title %>";
                    if ("<%= board[0].background_color %>" == '') {
                        document.getElementById("content").style.backgroundImage = "url(/images/<%= board[0].background_img %>)";
                        document.getElementById("customFile").files[0] = "<%= board[0].background_img %>";
                        console.log(document.getElementById("customFile").files[0]);
                    } else {
                        $(".preview").css("background", "");
                        document.getElementById("content").style.backgroundColor = "<%= board[0].background_color %>";
                    }
                    var event = new Event('input', { checked: true });
                    document.getElementById("message-type").children["<%= board[0].board_type %>"].children[0].dispatchEvent(event);

                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar').toggleClass('active');
                    });
                    $('#closeedit').click(function () {
                        // handle redirect here
                        window.location.href = "board.html";
                        $('#savechanges').modal('hide');
                    });
                });
            </script>

            <script>
                $('.btn-primary').on('click', function () {
                    $.post(`/:board_id/edit`, function (data) {
                        if (data.success) {
                            location.reload();
                        }
                    });
                });
            </script>
</body>

</html>